main { background-color: dimgray; }
#roles { background-color: silver; }
header { background-color: silver; }
header.your_turn { background-color: orange; }
#role_German { background-color: darkseagreen; }
#role_Allied { background-color: tan; }

#mapwrap {
	width: 1000px;
	height: 1275px;
}

#map {
	width: 1000px;
	height: 1275px;
	background-size: cover;
}

#map { background-image: url("map1.jpg") }
@media (min-resolution: 97dpi) {
	#map { background-image: url("map1.jpg") }
}

#mapsvg {
	display: block;
	position: absolute;
}