main { background-color: dimgray; }


/*
#map {
	background-image: url("map1.jpg");
	background-size: 1132.5px 1602px;
	width: 1132.5px;
	height: 1602px;

}
*/

#map {
	position: absolute;
	text-align: center;
}



#mapsvg {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}